<section class="footer py-5">
<div class="container">
    <div class="row justify-items-center gy-3 py-4">
        <div class="col-12 col-md-4 p-3 text-center">
            <div>
              <h3>LOCATION</h3> 
              <P>2215 John Daniel Drive</P>
              <P>Clark, MO 65243</P> 
            </div>
        </div>
        <div class="col-12 col-md-4 p-3 text-center">
            <div>
              <h3>AROUND THE WEB</h3> 
              <ul class="list-unstyled icon_social d-flex justify-content-center align-content-center gap-2">
                <li>
                    <div class="circle">
                        <i class="fa-brands fa-facebook"></i>
                    </div>
                </li>
                <li>
                    <div class="circle">
                        <i class="fa-brands fa-twitter"></i>
                    </div>
                </li>
                <li>
                    <div class="circle">
                        <i class="fa-brands fa-linkedin-in "></i>
                    </div>
                </li>
                <li>
                    <div class="circle">
                        <i class="fa-solid fa-globe "></i>
                    </div>
                </li>
              </ul>
            </div>
        </div>
        <div class="col-12 col-md-4 p-3 text-center">
            <div>
              <h3>ABOUT FREELANCER</h3> 
              <P>Freelance is a free to use, licensed Bootstrap theme created by Route</P>
            </div>
        </div>
    </div>
</div>
</section>
<div class="end_footer text-center py-3">
    <p class="mb-0">Copyright © Your Website 2021</p>
</div>
